/**
=========================================
 CSS- TABLE OF CONTENT
========================================= 
	DEBUG
	CSS RESET AND PRESETS
	DIV - GRID SYSTEM
	CONTENT POSITIONING - MIGHT BE REDUNDANT
	DIV - ELEMENT POSITIONING
	OVERRIDE
	COLOR SCHEME
**/

/**
=========================================
 DEBUG
========================================= */
.debug {
	outline:2px solid black;
	background-color:#FFCC88;
}

/**
=========================================
 CSS RESET AND PRESETS
========================================= */
* {
	margin:0px;
	padding:0px;
	border:0px;
	box-sizing:border-box;
	transition:all 250ms;
}

html, body {
	width:100%;
	height:100%;
}

a {
	text-decoration:none;
	color:#555;
}

a:hover {
	color:#325d9d;
}

img { width:100%; }


/**
=====================================
 DIV - GRID SYSTEM
===================================== */
.row {
	width:100%;
	position:relative;
}

.grid-1  { width:8.33%;  }
.grid-2  { width:16.66%; }
.grid-3  { width:25.00%; }
.grid-4  { width:33.33%; }
.grid-5  { width:41.66%; }
.grid-6  { width:50.00%; }
.grid-7  { width:58.33%; }
.grid-8  { width:66.66%; }
.grid-9  { width:75.00%; }
.grid-10 { width:83.33%; }
.grid-11 { width:91.66%; }
.grid-12 { width:100.0%; }

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, 
.grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
	float:left; position:relative;
}

.clearfix { clear:both; }

.floatLeft  { float:left; }
.floatRight { float:right; }

.center { margin:auto; }
.text-center { text-align:center; }

.clickable { cursor:pointer; }


/**
=====================================
 CONTENT POSITIONING
===================================== */
img.verticle-bottom { vertical-align:bottom; }
img.verticle-top 	{ vertical-align:top; }
img.verticle-middle { vertical-align:middle; }

.alignLeft  { text-align:left; }
.alignRight { text-align:right; }
.alignCenter { text-align:center; }

.top-offset-1 { margin-top:10px; }
.top-offset-2 { margin-top:20px; }
.top-offset-3 { margin-top:30px; }
.top-offset-4 { margin-top:40px; }

.LR-padding-offset-1 { padding:0px 5px; }
.LR-padding-offset-2 { padding:0px 10px; }
.LR-padding-offset-3 { padding:0px 15px; }
.LR-padding-offset-4 { padding:0px 20px; }
.LR-padding-offset-5 { padding:0px 25px; }

.T-padding-offset-1 { padding-top:5px; }
.T-padding-offset-2 { padding-top:10px; }
.T-padding-offset-3 { padding-top:15px; }
.T-padding-offset-4 { padding-top:20px; }
.T-padding-offset-5 { padding-top:25px; }

.L-padding-offset-3 { padding-left:15px; }
.L-padding-offset-4 { padding-left:20px; }

.fix-top { z-index:1000; }
.perfect-center {
	width:100%; height:100%;
	position:absolute;
	top:0px; bottom:0px; left:0px; right:0px;
	margin:auto;
}

/**
=====================================
 DIV - ELEMENT POSITIONING
 [UL][UC][UR]
 [ML][CC][MR]
 [LL][LC][LR]
===================================== */
.pos-UL, .pos-UC, .pos-UR, .pos-LR, .pos-LC, .pos-LL { position:absolute; }

.pos-UL { left:0px;	top:0px; }
.pos-UC { left:0px; right:0px; margin:auto; }
.pos-UR { right:0px; top:0px; }
.pos-LL { bottom:0px; left:0px; }
.pos-LC { left:0px; right:0px; margin:auto; bottom:0px; }
.pos-LR { bottom:0px; right:0px; }


/**
=============================
 OVERRIDE
============================= */
.size-1  { width:10%; }
.size-2  { width:20%; }
.size-3  { width:30%; }
.size-4  { width:40%; }
.size-5  { width:50%; }
.size-6  { width:60%; }
.size-7  { width:70%; }
.size-8  { width:80%; }
.size-9  { width:90%; }
.size-10 { width:100%; }

.icon-size-1 { font-size:12px; }
.icon-size-2 { font-size:24px; }
.icon-size-3 { font-size:36px; }
.icon-size-4 { font-size:48px; }


/**
=======================================================
 COLOR SCHEME
======================================================= */
.rss		 { color:#FF6600; }
.facebook    { color:#3B5998; }
.twitter     { color:#4099FF; }
.google-plus { color:#D84B37; }
.linkedin	 { color:#0077B5; }

.babyBlue	 { color:#CCCCFF; }
.tangerine	 { color:#FFCC88; }




/**
=======================================================
 Contains everything and use for future CSS reference
======================================================= */
body.op-fluid { }
body.op-page { }


/**
================================================================================
 container and its contained content are all automatically horizontally center
================================================================================ */
.container {
	margin:0px auto;
	text-align:center;
}

.op-fluid .container-full {
	width:100%;
	text-align:center;
}


/* Determines the width of the page */
@media screen and (max-width:320px) {
	.op-page .container { width:100%; }
/*
	.op-page .grid-1  { min-width:27px; }
	.op-page .grid-2  { min-width:53px; }
	.op-page .grid-3  { min-width:80px; }
	.op-page .grid-4  { min-width:107px; }
	.op-page .grid-5  { min-width:133px; }
	.op-page .grid-6  { min-width:160px; }
	.op-page .grid-7  { min-width:187px; }
	.op-page .grid-8  { min-width:213px; }
	.op-page .grid-9  { min-width:240px; }
	.op-page .grid-10 { min-width:267px; }
	.op-page .grid-11 { min-width:293px; }
	.op-page .grid-12 { min-width:320px; }
*/
}

@media screen and (min-width:321px) and (max-width:720px) {
	.op-page .container { 
		width:700px;
		padding:0px 10px;
	}
/*
	.op-page .grid-1  { min-width:60px; }
	.op-page .grid-2  { min-width:120px; }
	.op-page .grid-3  { min-width:180px; }
	.op-page .grid-4  { min-width:240px; }
	.op-page .grid-5  { min-width:300px; }
	.op-page .grid-6  { min-width:360px; }
	.op-page .grid-7  { min-width:420px; }
	.op-page .grid-8  { min-width:480px; }
	.op-page .grid-9  { min-width:540px; }
	.op-page .grid-10 { min-width:600px; }
	.op-page .grid-11 { min-width:660px; }
	.op-page .grid-12 { min-width:720px; }
	*/
}

@media screen and (min-width:721px) and (max-width:1024px) {
	.op-page .container { 
		width:1024px; 
		padding:0px 10px;
	}
/*
	.op-page .grid-1  { min-width:85px; }
	.op-page .grid-2  { min-width:171px; }
	.op-page .grid-3  { min-width:256px; }
	.op-page .grid-4  { min-width:341px; }
	.op-page .grid-5  { min-width:427px; }
	.op-page .grid-6  { min-width:512px; }
	.op-page .grid-7  { min-width:597px; }
	.op-page .grid-8  { min-width:683px; }
	.op-page .grid-9  { min-width:768px; }
	.op-page .grid-10 { min-width:853px; }
	.op-page .grid-11 { min-width:939px; }
	.op-page .grid-12 { min-width:1024px; }
	*/
}

